In [2]:
# INICIO DO PROGRAMA -> IMPORTANDO BIBLIOTECAS

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
# CARREGANDO DATASET

In [4]:
dataset = os.path.join("datasets", "CaliforniaHousing","cal_housing.csv")

dataColumns = ("Longitude","Latitude","IdadeMediaCasa", "Comodos", "Quartos", "Pessoas", "HouseHold",
"RendaMedia", "ValorMedioCasa")

In [5]:
#with open(dataset) as f:
#    lines = [line.strip().split("\t") for line in f.readlines()]
#lines
#text = [x[1] for x in lines]
#y = [int(x[0] == "spam") for x in lines]

housing = pd.read_csv(dataset,header=None,names = dataColumns)

In [6]:
#Analisando dados, quantidade de celulas, média, desvio padrão, mínimo e máximo

In [7]:
housing.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Longitude,20640.0,-119.569704,2.003532,-124.3500,-121.8000,-118.4900,-118.01000,-114.3100
Latitude,20640.0,35.631861,2.135952,32.5400,33.9300,34.2600,37.71000,41.9500
IdadeMediaCasa,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
Comodos,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
Quartos,20640.0,537.898014,421.247906,1.0000,295.0000,435.0000,647.00000,6445.0000
Pessoas,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
HouseHold,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
RendaMedia,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
ValorMedioCasa,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [9]:
#Observa-se a necessidade de esclusão de algumas informações e também de normalização

In [8]:
x_data = housing.drop(['Longitude','Latitude','ValorMedioCasa'],axis=1)
y_data = housing['ValorMedioCasa']

In [9]:
x_data.columns.tolist()

['IdadeMediaCasa', 'Comodos', 'Quartos', 'Pessoas', 'HouseHold', 'RendaMedia']

In [11]:
x_data.values.tolist()[0:5]

[[41.0, 880.0, 129.0, 322.0, 126.0, 8.3252],
 [21.0, 7099.0, 1106.0, 2401.0, 1138.0, 8.3014],
 [52.0, 1467.0, 190.0, 496.0, 177.0, 7.2574],
 [52.0, 1274.0, 235.0, 558.0, 219.0, 5.6431],
 [52.0, 1627.0, 280.0, 565.0, 259.0, 3.8462]]

In [12]:
#Separando dados de treinamento e de teste.

In [38]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data,y_data,test_size=0.3,random_state=123)

In [39]:
x_train[0:10]

       IdadeMediaCasa  Comodos  Quartos  Pessoas  HouseHold  RendaMedia
12364             6.0   4863.0    920.0   3010.0      828.0      3.9508
12271            21.0   4624.0    852.0   2174.0      812.0      3.5255
19605            32.0    946.0    198.0    624.0      173.0      1.9728
10600             8.0   2032.0    349.0    862.0      340.0      6.9133
45               52.0   1656.0    420.0    718.0      382.0      2.6768
2889             52.0   2805.0    573.0   1325.0      522.0      2.5083
1743             29.0   1899.0    524.0   1357.0      443.0      1.8750
10770            13.0   1642.0    423.0    841.0      368.0      3.6042
15005            43.0   1718.0    344.0    826.0      336.0      2.7014
13823            10.0   4201.0    850.0   2378.0      808.0      2.1781

In [15]:
from sklearn.preprocessing import MinMaxScaler

Escala = MinMaxScaler()
Escala.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [36]:
x_norm = x_train.values
print(x_norm)

[[  6.00000000e+00   4.86300000e+03   9.20000000e+02   3.01000000e+03
    8.28000000e+02   3.95080000e+00]
 [  2.10000000e+01   4.62400000e+03   8.52000000e+02   2.17400000e+03
    8.12000000e+02   3.52550000e+00]
 [  3.20000000e+01   9.46000000e+02   1.98000000e+02   6.24000000e+02
    1.73000000e+02   1.97280000e+00]
 ...,
 [  5.00000000e+00   4.15300000e+03   7.19000000e+02   2.43500000e+03
    6.97000000e+02   5.63060000e+00]
 [  4.40000000e+01   1.54500000e+03   3.34000000e+02   5.61000000e+02
    3.26000000e+02   3.87500000e+00]
 [  2.00000000e+01   1.91100000e+03   3.89000000e+02   1.24100000e+03
    3.48000000e+02   2.51560000e+00]]

In [33]:
x_norm = Escala.transform(x_norm)
x_norm

array([[ 0.09803922,  0.12354378,  0.14801095,  0.18445589,  0.15437745,
         0.23798982],
       [ 0.39215686,  0.11746452,  0.13705911,  0.13317384,  0.1513907 ,
         0.20865919],
       [ 0.60784314,  0.02391006,  0.03172814,  0.03809349,  0.03210752,
         0.10157791],
       ...,
       [ 0.07843137,  0.10548405,  0.11563859,  0.14918415,  0.12992346,
         0.3538365 ],
       [ 0.84313725,  0.03914636,  0.05363182,  0.03422893,  0.06066828,
         0.23276231],
       [ 0.37254902,  0.04845602,  0.06248993,  0.0759416 ,  0.06477506,
         0.13901188]])

In [40]:
x_train = pd.DataFrame(data=Escala.transform(x_train),columns = x_train.columns,index=x_train.index)

In [41]:
x_train[0:10]

       IdadeMediaCasa   Comodos   Quartos   Pessoas  HouseHold  RendaMedia
12364        0.098039  0.123544  0.148011  0.184456   0.154377    0.237990
12271        0.392157  0.117465  0.137059  0.133174   0.151391    0.208659
19605        0.607843  0.023910  0.031728  0.038093   0.032108    0.101578
10600        0.137255  0.051534  0.056048  0.052693   0.063282    0.442297
45           1.000000  0.041970  0.067483  0.043860   0.071122    0.150129
2889         1.000000  0.071196  0.092124  0.081094   0.097256    0.138508
1743         0.549020  0.048151  0.084233  0.083057   0.082509    0.094833
10770        0.235294  0.041614  0.067966  0.051405   0.068508    0.214087
15005        0.823529  0.043547  0.055242  0.050485   0.062535    0.151825
13823        0.176471  0.106705  0.136737  0.145688   0.150644    0.115736

In [42]:
x_test = pd.DataFrame(data=Escala.transform(x_test),columns = x_test.columns,index=x_test.index)

In [43]:
x_test[0:10]

       IdadeMediaCasa   Comodos   Quartos   Pessoas  HouseHold  RendaMedia
19121        0.764706  0.050059  0.065872  0.063550   0.074109    0.227018
20019        0.156863  0.083711  0.091319  0.107103   0.105843    0.242879
15104        0.215686  0.090655  0.114672  0.203533   0.124137    0.247466
3720         0.509804  0.081269  0.156064  0.208563   0.176778    0.119847
8938         0.784314  0.068627  0.089547  0.064041   0.089042    0.270424
13730        0.784314  0.044768  0.046223  0.046007   0.051708    0.304313
7955         0.333333  0.058020  0.106458  0.110477   0.100056    0.102785
15109        0.254902  0.077784  0.079723  0.102932   0.093709    0.271362
14354        0.431373  0.061276  0.105009  0.078027   0.111070    0.181997
4450         0.803922  0.022791  0.051055  0.080297   0.060108    0.099143

In [19]:
##Regressão

In [20]:
from sklearn.linear_model import LinearRegression

In [ ]:

regressor = LinearRegression()

In [ ]:
regressor.fit(x_train, y_train)

In [ ]:
print('Weight coefficients: ', regressor.coef_)
print('y-axis intercept: ', regressor.intercept_)